{{>layout/header}}

<style>
    .building_IT {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-bottom: 30px; /* Added: Add margin to the bottom */
    }


    .floor {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        height: 40px; /* 필요에 따라 값을 조정하세요 */
    }

    .floor a {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #ccc;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        line-height: 1.5;
    }

    .floor a:hover {
        background-color: #2980b9;
    }

    .building_IT img {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="building_IT">
    <div class="floor">
        <a href="/buildings/IT/1">1층</a>
        <a href="/buildings/IT/2">2층</a>
        <a href="/buildings/IT/3">3층</a>
        <a href="/buildings/IT/4">4층</a>
        <a href="/buildings/IT/5">5층</a>
        <a href="/buildings/IT/6">6층</a>
        <a href="/buildings/IT/7">7층</a>
        <a href="/buildings/IT/8">8층</a>
        <a href="/buildings/IT/9">9층</a>
        <a href="/buildings/IT/10">10층</a>
    </div>

    <br>
    <div>
        현재 층 수는 {{floor}}층 입니다. <br>

        {{#classroomList}}
            <a href="javascript:void(0);" onclick="changeTimetableImage('{{id}}')">{{id}}</a>
        {{/classroomList}}

    </div>

    {{#floor}}
        <img src="/images/IT/IT_{{floor}}.png">
    {{/floor}}
    {{^floor}}
        <a href="">
            <img src="/images/IT/IT.png">
        </a>
    {{/floor}}

    <div id="selectedClassroomImage"></div>

</div>
<script>
    var classroomImages = {
        "1122": "/images/timetable/IT/1F/1122.png",
        "1125": "/images/timetable/IT/1F/1125.png",
        "1209": "/images/timetable/IT/1F/1209.png",
        "1225": "/images/timetable/IT/1F/1225.png"
        // 다른 층의 강의실 이미지 경로를 필요에 따라 추가하세요
    };

    function changeTimetableImage(classroomId) {
        var imageSrc = classroomImages[classroomId];
        if (imageSrc) {
            var imageElement = document.getElementById("selectedClassroomImage");
            imageElement.innerHTML = "<img src='" + imageSrc + "'>";
        } else {
            var messageElement = document.getElementById("selectedClassroomImage");
            messageElement.innerHTML = "<p> 입력하신 강의실은 수업이 없습니다. </p>"
        }
    }
</script>
{{>layout/footer}}