{{>layout/header}}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
</style>


<div class="header">
    <br>
    <br>
    <br>
    <div class="center">
        <form action="/posts/search" method="GET" class="form-inline p-2 bd-highlight" role="search">
            <input type="text" name="keyword" class="form-control" id="search" placeholder="검색" style="width: 300px">
            <button class="btn btn-success bi bi-search">검색</button>
        </form>
    </div>
    <div class="col-md-12">
        <!-- 로그인 기능 영역-->
        <div class="row">
            <div class="col-md-12">
                {{#loginUserName}}
                    안녕하세요  <span id="user">{{loginUserName}} 님</span>
                    <!--                    <a href="/logout" class="btn float-right btn-danger active" style="margin-right: 10px"; role="button">Logout</a>-->
                {{/loginUserName}}
                {{^loginUserName}}
                    <!--                    <a href="/login" class="btn float-right btn-light active" style="margin-right: 10px"; role="button">-->
                    <!--                        로그인-->
                    <!--                    </a>-->
                {{/loginUserName}}
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역 -->
    </div>
</div>
{{>layout/footer}}