{{>layout/header}}
<style>
    .center {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    body {
        background-color: #d8ebf0;
    }

    /*.center img {*/
    /*    display: block;*/
    /*    margin: 0 auto;*/
    /*}*/

    .search-form {
        margin-top: 0;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    /*포인터에 마우스 올렸을 때 주는 효과*/
    .button:hover {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 1.5px #0032a0; /* Red border */
        border-radius: 3px;
        outline: 3rem;
    }

    .it_cursor {
        position: fixed;
        top: 19%;
        right: 16.5%;
        transform: translate(-50%, -50%);
    }

    .main_cursor {
        position: fixed;
        top: 35%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .library_cursor {
        position: fixed;
        top: 45%;
        left: 49%;
        transform: translate(-50%, -50%);
    }

</style>

<div class="header">
    <br>
    <div class="center">
        <div class="search-form">
            <form action="/classroom-search" method="GET" class="form-inline p-2 bd-highlight" role="search">
                <input type="text" name="keyword" class="form-control" id="search" placeholder="강의명을 입력하세요."
                       style="width: 300px">
                <button class="btn btn-success bi bi-search">검색</button>
            </form>
        </div>
        <div>
            <img src="/images/map/campus.png" alt="이미지_설명" style="width: 1400px">
            <a href="/buildings/IT">
                <img src="/images/pointer/pointer1.png" alt="올려진_이미지" class="it_cursor button">
            </a>
            <a href="/buildings/IT">
                <!-- 본관 포인터 -->
                <img src="/images/pointer/pointer2.png" alt="올려진_이미지" class="main_cursor button">
            </a>
            <a href="/buildings/IT">
                <!-- 중앙도서관 포인터 -->
                <img src="/images/pointer/pointer3.png" alt="올려진_이미지" class="library_cursor image3 button">
            </a>
        </div>

    </div>

</div>
{{>layout/footer}}
