{{>layout/header}}
<style>
    .container {
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50vh;
        /* background-color: #f2f2f2; */
    }
    .header {
        /* background-color: ; */
        padding-top: 75px;
        margin-left: 50px;
        text-align: left;
    }
    .container div {
        color: grey;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="header">
    <h1>What is <br> CSU MAP? </h1>
</div>

<div class="container">
    <h2> 목표? <br> </h2>
    <div style="text-align: center;">
        조선대학교에 대한 정보를 나타내주는 웹 어플리케이션
    </div>
    <br> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - <br>

    <h2> 누구나 사용 가능한 것 표현 <br> </h2>
    <div style="text-align: center;">
        조선대학교 재학생, <br>
        조선대학교 방문자, <br>
        누구나 사용 사능
    </div>
    <br> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - <br>

    <div class="footer-con js-scroll fade-in-bottom scrolled">
        <h1>CSU MAP Developers</h1>
        <div class="footerwrap">
            <div class="develop__wrap">

                <!-- 개인 프로필 -->
                <div class="develop__itemcon">
                    <div class="profile__img">
                        <img src="/images/character/seungjo.png">
                    </div>
                    <div class="developer__profile">
                        <h1>정승조 | Back-end</h1>
                        <h2>컴퓨터공학, 소프트웨어공학 복수전공</h2>
                        <div class="dev__social">
                            <a href="https://github.com/f1v3_dev">
                                <i class="fa-brands fa-github"></i>
                                <span>f1v3_dev</span>
                            </a>
                        </div>
                        <div class="dev__social">
                            <a href="#" style="cursor:default;">
                                <i class="fa-regular fa-envelope"></i>
                                <span>f1v3@kakao.com</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="develop__itemcon">
                    <div class="profile__img">
                        <img src="/images/character/yeongeun.png">
                    </div>
                    <div class="developer__profile">
                        <h1>이연근 | Front-End</h1>
                        <h2>컴퓨터공학 전공</h2>
                        <div class="dev__social">
                            <a href="https://github.com/Leelotus">
                                <i class="fa-brands fa-github"></i>
                                <span>Leelotus</span>
                            </a>
                        </div>
                        <div class="dev__social">
                            <a href="#" style="cursor:default;">
                                <i class="fa-regular fa-envelope"></i>
                                <span>staccato189@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="develop__itemcon">
                    <div class="profile__img">
                        <img src="/images/character/hanbin.png">
                    </div>
                    <div class="developer__profile">
                        <h1>이한빈 | Front-End</h1>
                        <h2>컴퓨터공학 전공</h2>
                        <div class="dev__social">
                            <a href="https://github.com/Clt689">
                                <i class="fa-brands fa-github"></i>
                                <span>Clt689</span>
                            </a>
                        </div>
                        <div class="dev__social">
                            <a href="#" style="cursor:default;">
                                <i class="fa-regular fa-envelope"></i>
                                <span>ksj030120@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{>layout/footer}}